{% extends 'base.html.twig' %}

{% block content %}

    <a href="{{ path('character_index', { page: 1 }) }}">
        <div class="rambutton">
            Characters
        </div>
    </a>

    <div class="flexcontainer pagination">

            {% set previousPage = page - 1 %}
            {% set nextPage = page + 1 %}

            {% if page > 1 %}
                <a href="{{ path('character_index', { page: previousPage }) }}">
                    <h2 class="previous">&larr;</h2>
                </a>
            {% else %}
                <h2 class="bullet">&bull;</h2>
            {% endif %}

            <h2 class="current">
                PAGE {{ page }} of {{ characters.info.pages }}
            </h2>

            {% if page < characters.info.pages %}
            <a href="{{ path('character_index', { page: nextPage }) }}">
                <h2 class="next">&rarr;</h2>
            </a>
            {% else %}
                <h2 class="bullet">&bull;</h2>
            {% endif %}

    </div>

    <div class="flexcontainer">
        {% for character in characters.results %}
            <div class="flexcontainer flexcolumn card">
                <h4>{{ character.name }}</h4>
                <a href="{{ path('character_show', { id: character.id }) }}">
                    <img src="{{ character.image }}" alt="Picture of {{ character.name }}">
                </a>
            </div>
        {% endfor %}
    </div>

{% endblock %}



